<div class="books">
<h1>الكتب</h1>
<p>"متون هي كتب إلكترونية شاملة تقدم مجموعة متنوعة من الكتب الإلكترونية <br> في جميع المجالات,مع تجربة مريحة وسهلة للاستكشاف والشراء عبر الانترنت"</p>
<input class="form-control" type="text" placeholder="ابحث باسم الكتاب او المؤلف">
<i class="icon1 fa-solid fa-magnifying-glass"></i>
</div>

<div class="container">
<div class="pic"></div>
<div class="more" >
<h1>استمتع بتجربة قراءة فريدة مع متجر الكتب الإلكترونية متون</h1>
<br>
<br>
<p>هذا هو المكان المثالي لشراء الكتب الإلكترونية.تصفح مجموعتنا الواسعة من الكتب الإلكترونية في جميع المجالات واحصل على تجربة قراءة ممتعة.تسوق الان واحصل على وصول فوري لأفضل الأعمال الأدبية والمعرفية بأسعار ممتازة</p>
<button  class="btn  btn-lg d-btn "><a  routerLink="/about">المزيد عنا؟</a></button>
</div>
</div>

<div class="arabic">
<h1>الكتب العربية</h1>
</div>

<div class="english">
<h1>English Book</h1>
</div>

<div class="know">
<h1>كن اول من يعلم</h1>
<br>
<br>
<div class="ss"></div>
<p>ارسل لنا بريدك الإلكتروني لكي يتم ارسال لك الكتب الجديدة نتمنى لكم الافضل دائما</p>
<button  class="btn  btn-lg d-btn ">
    <a >تسجيل الدخول</a>
</button> 

</div>

