/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(247, 247, 248, 0.93) !important;
}
/*Tablet*/
/* @media screen and (max-width : 900px) and (min-width :700px) {
    body {
        width: 100%;
    }
   
    .container div img{
        width:33.33% ;
            }
} */
/* larg phone */
/* @media screen and (max-width : 699px) and (min-width :500px) {
    body {
        width: 65%;
    }

    .container div img{
    width:  50% ;
    }
} */
/* small phone */
/* @media screen and (max-width : 499px) {
    body{
        width: 25%;
    }

    .container div img{
        width:  100% ;
        }
} */